@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  font-family: "Josefin Sans", sans-serif;
}
.App {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  color: #f9f9f9;
  min-height: 100vh;
}

.info-btn {
  cursor: pointer;
}
.name,
.info {
  display: flex;
  flex-direction: row;
  min-width: 100px;
}

.left-container {
  width: 50%;
  height: 50%;
}
.right-container {
  width: 50%;
  height: 50%;
}

input {
  height: 25px;
  border-radius: 8px;
}

.text-field {
  height: 300px;
  width: 500px;
  border: 5px solid black;
  border-radius: 8px;
  padding: 10px;
  margin: 20px 20px 20px 0px;
}
.text-input {
  min-width: 50%;
  margin: 10px;
}
h1 {
  margin-left: 10px;
}
h5 {
  word-wrap: break-word;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.encrypt-btn {
  padding: 5px;
  background-color: black;
  font-size: 20px;
  border-radius: 8px;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.encrypt-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.decrypt-btn {
  padding: 5px;
  color: black;
  font-size: 20px;
  border-radius: 8px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.decrypt-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.infobox {
  position: absolute;
  top: 20%;
  margin-top: auto;
  max-width: 700px;
  min-height: fit-content;
  background-color: black;
  word-wrap: break-word;
  color: #4158d0;
  display: flex;

}
.keybox {
  padding: 20px;
  word-wrap: break-word;
  color: #f9f9f9;
  background: #642b73; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c6426e,
    #642b73
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c6426e,
    #642b73
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
